{% extends 'base.html.twig' %}

{% block title %}Hello Index{% endblock %}

{% block body %}

<div class="text-center text-white">
    <h1>Hello Index ✅</h1>
    {# Si app.user n'est pas nulll alors il il affiche app.user.username #}
   {% if app.user %}
    {# <p class="text-xl text-white">{{ app.user.username }}</p> #}
    <p>Tu es connecté &#x1F642; {{app.user.email}}</p>
    <button type="submit" class="btn glass text-white">
      <a href="/logout">Déconnexion</a>
    </button>
  {% else %}
    <p>Tu n'es pas connecté &#x1F625;</p>
    <button type="submit" class="btn glass text-white">
        <a href="/login">Connexion</a>
    </button>
  {% endif %}

    </div>
</div>
{% endblock %}



