#hero{
    background-image: url('../img/bghero.jpg');
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 600px;    
}


